<div class="container mt-5 text-center">
 
  <h3 class="mb-5" style="text-align: center;">Change Organization Image</h3>
 
  <div class="col-md-12" style="text-align: center;">
    <input type="file" (change)="onFileChange($event)" />
  </div>
 
  <div style="display: block; text-align: center;" class="col-md-8">
    <image-cropper
      [imageChangedEvent]="imgChangeEvt" 
      [maintainAspectRatio]="true" 
      [aspectRatio]="4 / 4"
      [resizeToWidth]="128" 
      format="png"
      (imageCropped)="cropImg($event)" 
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()" 
      (loadImageFailed)="imgFailed()"
      (imageFile)="uploadImage">
    </image-cropper>
  </div>
 
  <div style="display: block;text-align: center;" class="col-md-4">
    <h5>Image Preview</h5>
    <img [src]="cropImgPreview"/>    
  </div>
  <div style="display: block;text-align: center;">
  <button>Save changes</button>
  <button>Cancel</button>
</div>
</div>